@use 'sass:color';

@use '@material/theme/color-palette';

@use '@material/theme/index' as theme with (
  $primary: #008282,
  $secondary: #808282,
  $surface: #202222,
  $background: #404040,
  $error: color-palette.$red-700
);

html,
body {
  background-color: #282828;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}

a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
